name: CI

on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      VOLTA_FEATURE_PNPM: 1
    steps:
    - uses: actions/checkout@v6
    - name: Setup Volta and Node.js
      uses: volta-cli/action@v4
    - run: pnpm install
    - run: pnpm test